<div class="tab-content">
<div class="tab-pane active" id="contact">
	<div class="row-fluid">
		<div class="span5"></div>
		<div class="span4">
			<h2>Feedback</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span5">
			Currently, this page is maintained by Bas Vodde and you can contact him at basv AT odd-e.com.
		</div>
	</div>
</div>
</div>