<div class="tab-content">
	<div class="tab-pane active" id="home">			
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
				<div class="logo">
					<img src="/scrumprimerlogo.png" alt="Scrum Primer"/>
				</div>			
				<hr>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span3">
				<h4><%= t.home.current_version %></h4>
				<p>
					<a href="scrumprimer20_small.pdf">Download here - Small file</a><br/>
					<a href="scrumprimer20.pdf">Download here - Print quality</a>
				</p>
			</div>			
			
			<div class="span3">
				<h4>Translations</h4>
				<a href="primers/scrumprimer20_french.pdf">Scrum Primer in French</a><br/>
				
				<p>Currently in progress:</p>
				<ul>
					<li>Chinese</li>
					<li>Japanese</li>
				</ul>
			</div>
		</div>
	</div>
</div>
