
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container-narrow {
	margin: 0 auto;
	text-align: center;
	max-width: 500px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.logo {
	text-align: center;
}

#translation_links {
	float: right;
}

#translation_links li {
	display: inline;
	list-style: none;
	margin-left: 1em;
	padding-left: 1em;
	font-size: 0.8em
}

#translation_links a {
	color: #aaa
}

#github_contribution {
	float: right;
	display: inline;
	list-style: none;
	margin-left: 1em;
	padding-left: 1em;
	font-size: 0.8em;
	color: #aaa
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 1.3em;
	line-height: 1.2em;
}
